<div>
  <img src="https://picsum.photos/200">
  <div class="user_data">
    <h2><%= @user.name%></h2>
    <p>Number of posts: <%= @user.posts_counter %></p>
  </div>
</div>

<div class="user_bio_container">
  <h2>Bio</h2>
  <p class="bio"><%= @user.bio%></p>
</div>

<div class="user_posts">
  <h2>Posts</h2>
  <p>.....</p>
  <p>.....</p>
  <p>.....</p>
</div>