/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.user_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px;
  width: 75%;
  margin: auto;
}

.user_photo {
  width: 65px;
  height: 66px;
  padding: 10px;
  border: 1px solid black;
}

.user_data {
  display: flex;
  align-items: flex-end;
  width: 60vw;
  justify-content: space-between;
  border: 1px solid black;
  margin: 20px;
}

.see-user-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}

.user_data > * {
  padding: 10px;
}

@media screen and (max-width: 450px) {
  .user_photo {
    width: 45px;
    height: 45px;
  }

  .user_data {
    align-items: centre;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  
  .user_data > * {
    padding: 0;
    margin: 0;
  }
  
  .user_data > h2 {
    padding: 5px;
  }
  
  .see-user-details {
    width: 100% !important;
  }
  
  .see-user-details > p {
    margin: 5px;
  }
}
