<header>
  <nav class="navbar">
    <ul class="link_list">
      <li class="link_list_li"><%= link_to "Home", users_path(@user), class: "link_class" %></li>
      <li class="link_list_li"><%= link_to "Create Post", new_post_path, class: "link_class" %></li>
    </ul>
  </nav>
</header>
